register the "UMA" auth scheme with IANA

We should register the "UMA" auth scheme with IANA:

http://www.iana.org/assignments/http-authschemes/http-authschemes.xhtml

This appears to have been an oversight. It should probably be an erratum on V2.0 if that's possible, as it's a non-normative change.

Lodged a registration request using [this form](https://www.iana.org/form/protocol-assignment).

(Extremely) belatedly reporting that I received a response (immediately) from iana-prot-param@iana.org as follows:

> Dear Eve, 
>
>Thanks for contacting us. 
>
>We're unable to make an assignment from the HTTP Authentication Schemes registry. This registry requires IETF Review,
>which according to RFC 8126 requires an IETF-stream I-D approved for publication by the IESG:
>
>https://tools.ietf.org/html/rfc8126#section-4.8
>
>There is an early/temporary allocation process available to IETF-stream I-Ds. RFC 7120 early allocation allows for
>temporary registrations, marked "(TEMPORARY)" in the registry, that can be renewed annually until the documents are
>approved for publication (note that renewals after the second year must be approved by the IESG).
>
>However, this method requires that the process described by Section 3 of RFC 7120 be followed:
>
>https://tools.ietf.org/html/rfc7120#section-3
>
>Please let us know if you have any questions. 
>
>Best regards,
>
>Sabrina Tanamal
>Senior IANA Services Specialist

In our current circumstances, I believe that this means we won't be able to complete this item.