Incorrect reference to OAuth error responses

In §4.1 the following text is misleading:

```
When a resource server or client attempts to access one of the authorization server endpoints or a client 
attempts to access a protected resource at the resource server, it has to make an authenticated request 
by including an OAuth access token in the HTTP request as described in [RFC6749] Section 7.2.

If the request failed authentication, the authorization server or the resource server responds with an 
OAuth error message as described in this specification in Section�3.
```

Including the OAuth access token in the HTTP request is described in RFC6750 (OAuth bearer tokens), and the referenced section actually talks about how you might return an error from the resource server but leaves it open to the specific API and token type (like RFC6750). Perhaps the text above is supposed to say:

```
Since UMA uses the OAuth protocol, in cases where an appropriate OAuth error message is defined by [6749] or [6750], the OAuth error messages MUST be used. 
```


Will fix. I think most of the text in this section aged out of usefulness with the Section 3 reorg, or perhaps longer ago. (Relevant text that's perhaps worth pointing to is now in 1.3.1 and 1.3.2, e.g.: "If a request to an endpoint fails due to an invalid, missing, or expired PAT, or requires higher privileges at this endpoint than provided by the PAT, the authorization server responds with an OAuth error.")