Say what happens when claims_redirect_uri is missing

In [Grant Sec 3.3.2](https://docs.kantarainitiative.org/uma/ed/oauth-uma-grant-2.0-04.html#claim-redirect), @jricher suggests:

"claims_redirect_uri: is optional without discussion of what to do when it's missing -- redirect nowhere? pick a default? should only be optional iff the client has registered a single URI, in parallel with oauth (though I'd prefer to just make it required)"

The specific language needing something extra is:

"claims_redirect_uri: OPTIONAL. The URI to which the client wishes the authorization server to direct the requesting party's user agent after completing its interaction. The URI MUST be absolute, MAY contain an application/x-www-form-urlencoded-formatted query parameter component that MUST be retained when adding additional parameters, and MUST NOT contain a fragment component. The client SHOULD pre-register its claims_redirect_uri with the authorization server, and the authorization server SHOULD require all clients to pre-register their claims redirection endpoints. Claims redirection URIs are different from the redirection URIs defined in [RFC6749] in that they are intended for the exclusive use of requesting parties and not resource owners. Therefore, authorization servers MUST NOT redirect requesting parties to pre-registered redirection URIs defined in [RFC6749] unless such URIs are also pre-registered specifically as claims redirection URIs. If the URI is pre-registered, this URI MUST exactly match one of the pre-registered claims redirection URIs, with the matching performed as described in Section 6.2.1 of [RFC3986] (Simple String Comparison)."

[6749 Sec 3.1.2.3](https://tools.ietf.org/html/rfc6749#section-3.1.2.3) says, regarding ordinary redirection URIs, "If multiple redirection URIs have been registered, if only part of the redirection URI has been registered, or if no redirection URI has been registered, the client MUST include a redirection URI with the authorization request using the "redirect_uri" request parameter."

In parallel, I recommend removing the word "OPTIONAL" here and adding to the beginning "If the client has registered multiple claims redirection URIs, has registered only part of the claims redirection URI, or has registered no claims redirection URI, this is REQUIRED."

Per [UMA telecon 2017-05-18](http://kantarainitiative.org/confluence/display/uma/UMA+telecon+2017-05-18): Eve has suggested wording. This is practically editorial. We should say "pre-registered" instead of "registered". Should we say first "Only if the client has pre-registered a single full claims redirection URI, this is OPTIONAL." and then put the other proposed wording at the end? Yes.

Per [UMA telecon 2017-05-25](http://kantarainitiative.org/confluence/display/uma/UMA+telecon+2017-05-25): Issue #315: Reverse the wording so that REQUIRED is first.